*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(224, 224, 224);
}

.container{
     margin:  auto;
    padding: 2rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
